<div class="receipt">
    <div class="receipt-header d-flex flex-column align-items-center">
        <span class="material-icons">local_drink</span>
        <span class="mt-2">Fruity Shake</span>
    </div>
    <div class="receipt-body m-4">
        <span class="receipt-body__header">Official Receipt</span>
        <div class="receipt-body__subheader mt-3 d-flex">
            <span class="mr-auto">
                Items
            </span>
            <span class="mr-3">
                Price
            </span>
        </div>
        <div class="receipt-body__content" *ngFor="let item of cartItems">
            <div class="d-flex mt-2">
                <span class="mr-auto">{{item.quantity}} x {{item.name}}</span>
                <span class="mr-3">${{item.price}}</span>
            </div>
        </div>
        <div class="receipt-body__subtotal mt-1">
            <div class="d-flex">
                <span class="mr-auto">Sub Total:</span>
                <span class="mr-3">${{cartSubTotal}}</span>
            </div>
            <div class="d-flex mt-2">
                <span class="mr-auto">Tax 10%:</span>
                <span class="mr-3">${{cartTax}}</span>
            </div>
        </div>
        <div class="receipt-body__total mt-1">
            <div class="d-flex mt-3">
                <span class="mr-auto">Total:</span>
                <span class="mr-3">${{cartTotal}}</span>
            </div>
            <div class="d-flex mt-2">
                <span class="mr-auto">Cash Received:</span>
                <span class="mr-3">${{cashReceived}}</span>
            </div>
            <div class="d-flex mt-1">
                <span class="mr-auto">Change:</span>
                <span class="mr-3">${{change}}</span>
            </div>
        </div>
        <div class="receipt-body__event text-center mt-3">
            <button class="btn" (click)="bsModalRef.hide()">Close</button>
        </div>
    </div>
</div>