<div class="header container-fluid overflow-hidden d-flex flex-column">
    <div class="header-logo ml-3 mt-3 d-flex align-items-center">
        <span class="header-logo__icon material-icons">local_drink</span>
        <span class="header-logo__text ml-2 mt-1">Fruity Shakes</span>
    </div>
    <!-- end of .header-logo  -->
    <div class="header-menu ml-3 mt-auto">
        <a class="header-menu__shakes"
           [routerLink]="['../order/shakes']" 
           routerLinkActive="active-route" 
           [routerLinkActiveOptions]="{exact: true}">Shakes</a>
        <a class="header-menu__shakes ml-2"
           [routerLink]="['../order/snacks']" 
           routerLinkActive="active-route" 
           [routerLinkActiveOptions]="{exact: true}">Snacks</a>
    </div>
    <!-- end of .header-menu -->
</div>
<!-- end of .header  -->