<!-- <div class="cart">
    <div class="cart-container">
        <div class="cart-container__logo d-flex align-items-center">
            <span class="material-icons">local_grocery_store</span>
            <span class="ml-2">
                Cart
            </span>
        </div>
        <div class="cart-container__date ml-4">
            <span>Jan. 28, 2017 | 17:00:00</span>
        </div>
        <div class="cart-container__form border-left-0 border-right-0">
            <div class="order d-flex align-items-center pt-3 pb-3">
                <span class="order-icon material-icons">delete_forever</span>
                <div class="order-details d-flex flex-column">
                    <span>Mango Shake</span>
                    <span>$300</span>
                </div>
                <div class="order-input d-flex align-items-center pt-3 pb-3">
                    <span class="material-icons">control_point</span>
                    <span>
                        <input type="text">
                    </span>
                    <span class="material-icons">remove_circle</span>
                </div>
            </div>
            <div class="order d-flex align-items-center pt-3 pb-3">
                <span class="order-icon material-icons">delete_forever</span>
                <div class="order-details d-flex flex-column">
                    <span>Avocado Shake</span>
                    <span>$800</span>
                </div>
                <div class="order-input d-flex align-items-center">
                    <span class="material-icons">control_point</span>
                    <span>
                        <input type="text">
                    </span>
                    <span class="material-icons">remove_circle</span>
                </div>
            </div>
            <div class="order d-flex align-items-center pt-3 pb-3">
                <span class="order-icon material-icons">delete_forever</span>
                <div class="order-details d-flex flex-column">
                    <span>Banana Shake</span>
                    <span>$300</span>
                </div>
                <div class="order-input d-flex align-items-center">
                    <span class="material-icons">control_point</span>
                    <span>
                        <input type="text">
                    </span>
                    <span class="material-icons">remove_circle</span>
                </div>
            </div>
            <div class="order d-flex align-items-center pt-3 pb-3">
                <span class="order-icon material-icons">delete_forever</span>
                <div class="order-details d-flex flex-column">
                    <span>Strawberry Shake</span>
                    <span>$300</span>
                </div>
                <div class="order-input d-flex align-items-center">
                    <span class="material-icons">control_point</span>
                    <span>
                        <input type="text">
                    </span>
                    <span class="material-icons">remove_circle</span>
                </div>
            </div>
            <div class="order d-flex align-items-center pt-3 pb-3">
                <span class="order-icon material-icons">delete_forever</span>
                <div class="order-details d-flex flex-column">
                    <span>Strawberry Shake</span>
                    <span>$300</span>
                </div>
                <div class="order-input d-flex align-items-center">
                    <span class="material-icons">control_point</span>
                    <span>
                        <input type="text">
                    </span>
                    <span class="material-icons">remove_circle</span>
                </div>
            </div>
            <div class="order d-flex align-items-center pt-3 pb-3">
                <span class="order-icon material-icons">delete_forever</span>
                <div class="order-details d-flex flex-column">
                    <span>Strawberry Shake</span>
                    <span>$300</span>
                </div>
                <div class="order-input d-flex align-items-center">
                    <span class="material-icons">control_point</span>
                    <span>
                        <input type="text">
                    </span>
                    <span class="material-icons">remove_circle</span>
                </div>
            </div>
        </div>
        <div class="cart-container__total">
            <div class="cart-subtotal d-flex">
                <span class="mr-auto">Sub Total:</span>
                <span>$22.00</span>
            </div>
            <div class="cart-tax d-flex">
                <span class="mr-auto">Tax 10%:</span>
                <span>$2.20</span>
            </div>
            <div class="cart-total d-flex mt-1">
                <span class="mr-auto">Total:</span>
                <span>$24.20</span>
            </div>
        </div>
        <div class="cart-container__event d-flex flex-column mt-2">
            <button class="btn">Pay</button>
        </div>
    </div>
</div> -->
<div class="cart">
    <div class="cart-container">
        <div class="cart-container__logo d-flex align-items-center">
            <span class="material-icons">local_grocery_store</span>
            <span class="ml-2">
                Cart
            </span>
        </div>
        <div class="cart-container__date ml-4">
            <span>Jan. 28, 2017 | 17:00:00</span>
        </div>
        <div class="cart-container__form border-left-0 border-right-0">
            <form [formGroup]="parent">
                <ng-container formArrayName="items">
                    <div class="order d-flex align-items-center pt-3 pb-3"
                         *ngFor="let order of orders; index as i;">
                        <span class="order-icon material-icons">delete_forever</span>
                        <div class="order-details d-flex flex-column">
                            <span>{{order.value.name}}</span>
                            <span>${{order.value.price * order.value.quantity}}</span>
                        </div>
                        <ng-container [formGroupName]="i">
                            <order-counter 
                                [step]="1" 
                                [min]="1" 
                                [max]="99"
                                formControlName="quantity"></order-counter>
                        </ng-container>
                    </div>
                </ng-container>
            </form>
        </div>
        <div class="cart-container__total">
            <div class="cart-subtotal d-flex">
                <span class="mr-auto">Sub Total:</span>
                <span>$22.00</span>
            </div>
            <div class="cart-tax d-flex">
                <span class="mr-auto">Tax 10%:</span>
                <span>$2.20</span>
            </div>
            <div class="cart-total d-flex mt-1">
                <span class="mr-auto">Total:</span>
                <span>$24.20</span>
            </div>
        </div>
        <div class="cart-container__event d-flex flex-column mt-2">
            <button class="btn">Pay</button>
        </div>
    </div>
</div>