<div class="cart">
    <div class="cart-container">
        <div class="cart-container__logo d-flex align-items-center">
            <span class="material-icons">local_grocery_store</span>
            <span class="ml-2">Cart</span>
        </div>
        <!-- end of .cart-container__logo  -->
        <div class="cart-container__date ml-4">
            <span>{{todayDate | date: 'medium' }}</span>
        </div>
        <!-- end of .cart-container__date  -->
        <div class="cart-container__form border-left-0 border-right-0">
            <form [formGroup]="parent">
                <ng-container formArrayName="items">
                    <div class="order d-flex align-items-center pt-3 pb-3"
                         *ngFor="let order of orders; index as i;">
                        <span class="order-icon material-icons cursor-pointer" 
                             (click)="removeToCart(order, i)">delete_forever</span>
                        <div class="order-details d-flex flex-column">
                            <span>{{order.value.name}}</span>
                            <span>${{order.value.price * order.value.quantity}}</span>
                        </div>
                        <!-- end of .order-details  -->
                        <ng-container [formGroupName]="i">
                            <order-counter 
                                [step]="1" 
                                [min]="1" 
                                [max]="99"
                                formControlName="quantity"></order-counter>
                        </ng-container>
                    </div>
                </ng-container>
            </form>
        </div>
        <!-- end of .cart-container__form  -->
        <div class="cart-container__total">
            <div class="cart-subtotal d-flex">
                <span class="mr-auto">Sub Total:</span>
                <span>${{displaySubTotal | number:'1.2-2'}}</span>
            </div>
            <!-- end of .cart-subtotal  -->
            <div class="cart-tax d-flex">
                <span class="mr-auto">Tax 10%:</span>
                <span>${{tax$ | async}}</span>
            </div>
            <!-- end of .cart-tax  -->
            <div class="cart-total d-flex mt-1">
                <span class="mr-auto">Total:</span>
                <span>${{displayTotal | number:'1.2-2'}}</span>
            </div>
            <!-- end of .cart-total  -->
        </div>
        <!-- end of .cart-container__total  -->
        <div class="cart-container__event d-flex flex-column mt-2">
            <button class="btn" (click)="submitForm()">Pay</button>
        </div>
        <!-- end of .cart-container__event  -->
    </div>
    <!-- end of .cart-container  -->
</div>
<!-- end of .cart  -->