<div class="order p-5">
    <div class="order-container vertical-horizontal-align">
        <div class="d-flex flex-column align-items-center">
            <span class="order-container__price">$3.00</span>
            <span class="order-container__image">Picture</span>
            <span class="order-container__name">Mango</span>
        </div>
    </div>
    <div class="order-container vertical-horizontal-align">
        <div class="d-flex flex-column">
            <span class="order-container__price">$3.00</span>
            <span class="order-container__image">Picture</span>
            <span class="order-container__name">Mango</span>
        </div>
    </div>
    <div class="order-container vertical-horizontal-align">
        <div class="d-flex flex-column">
            <span class="order-container__price">$3.00</span>
            <span class="order-container__image">Picture</span>
            <span class="order-container__name">Mango</span>
        </div>
    </div>
    <div class="order-container vertical-horizontal-align">
        <div class="d-flex flex-column">
            <span class="order-container__price">$3.00</span>
            <span class="order-container__image">Picture</span>
            <span class="order-container__name">Mango</span>
        </div>
    </div>
    <div class="order-container vertical-horizontal-align">
        <div class="d-flex flex-column">
            <span class="order-container__price">$3.00</span>
            <span class="order-container__image">Picture</span>
            <span class="order-container__name">Mango</span>
        </div>
    </div>
</div>