<div class="order p-5">
    <div *ngFor="let item of items" 
         class="order-container d-flex flex-column overflow-hidden mb-3">
        <div class="d-flex flex-column align-items-center mt-4 mb-auto">
            <div class="order-container__image d-flex flex-column text-right">
                <div class="d-flex flex-row-reverse">
                    <span>${{item.price}}</span>
                </div>
                <img [src]="item.imageUrl" [alt]="item.imageUrl">
            </div>
            <!-- end of .order-container__image  -->
            <div class="order-container__name d-flex text-align mt-2 mb-auto">
                <span>{{item.name}}</span>
            </div>
            <!-- end of .order-container__name  -->
        </div>
        <!-- end of .d-flex  -->
        <div class="order-container__footer p-2 d-flex align-items-center justify-content-center">
            <span class="material-icons">control_point</span>
            <span class="cursor-pointer" (click)="addToCart(item)">ADD</span>
        </div>
        <!-- end of .order-container__footer  -->
    </div>
    <!-- end of .order-container  -->
</div>
<!-- end of .order  -->