<div class="form d-sm-flex">
    <div class="form__header flex-column">
        <span class="form__header--icon material-icons">local_drink</span>
        <span class="form__header--first">Fruity Shakes</span>
        <small class="form__header--second">Taste the freshness</small>
    </div>
    <!-- end of .form__header  -->
    <div class="form__input flex-column">
        <span class="form__input--label">Cashier Entry ID Code</span>
        <input class="form__input--input" type="text">
        <button class="form__input--btn btn">Enter</button>
    </div>
    <!-- end of .form__input  -->
</div>
<!-- end of form  -->