<div class="form">
    <div class="form__container d-md-flex bg-white overflow-hidden">
        <div class="form-header flex-column">
            <span class="form-header__icon material-icons">local_drink</span>
            <span class="form-header__first mt-3">Fruity Shakes</span>
            <small class="form-header__second">Taste the freshness</small>
        </div>
        <!-- end of .form-header  -->
        <div class="form-input flex-column">
            <span class="form-input__label">Cashier Entry ID Code</span>
            <form class="flex-column" 
                  [formGroup]="userForm" 
                  (ngSubmit)="onFormSubmit()">
                  
                <input class="form-control mt-3" 
                       formControlName="entryId"
                       minlength="6"
                       required>
                <span class="mt-1 text-danger"
                      *ngIf="errorMessage | async">
                      {{errorMessage | async}}
                </span>
                <button class="btn mt-3" 
                        [disabled]="!userForm.valid" 
                        type="submit">Enter</button>
            </form>
        </div>
        <!-- end of .form-input  -->
    </div>
    <!-- end of .form__container -->
</div>
<!-- end of form  -->