<div class="form">
    <div class="form__container d-md-flex bg-white overflow-hidden">
        <div class="form-header flex-column">
            <span class="form-header__icon material-icons">local_drink</span>
            <span class="form-header__first mt-3">Fruity Shakes</span>
            <small class="form-header__second">Taste the freshness</small>
        </div>
        <!-- end of .form-header  -->
        <div class="form-input flex-column">
            <span class="form-input__label">Cashier Entry ID Code</span>
            <input class="form-input__input form-control mt-3" type="text">
            <button class="form-input__btn btn mt-3">Enter</button>
        </div>
        <!-- end of .form-input  -->
    </div>
    <!-- end of .form__container -->
</div>
<!-- end of form  -->