<div class="payment">
    <div class="payment-header d-flex">
        <span class="ml-4 mr-auto">Payment</span>
        <span class="mr-4">${{cartTotal}}</span>
    </div>
    <!-- end of.payment-header -->
    <div class="payment-form m-4 d-flex flex-column align-items-center">
        <span class="payment-form__header">Cash Received</span>
        <div class="payment-form__input text-center mt-2">
            <input type="text">
        </div>
        <button class="btn mt-3">Enter</button>
    </div>
    <!-- end of .payment-form  -->
</div>
<!-- end of .payment -->